@font-face {
    font-family: 'meetme';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.fc .fc-button-primary:not(:disabled):active:focus, .fc .fc-button-primary:focus {
    box-shadow: none;
}
.fc .fc-highlight {
    background-color: transparent;
}
.fc .fc-toolbar {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.fc .fc-col-header-cell-cushion {
    font-size: 20px;
}
.fc .fc-view-harness {
    background-color: white;
}

.calendarP {
    transition: margin-right 0.3s ease;
}
#calendardiv .fc {
    min-height: 919px;
    width: 100%;
}
#calendardiv .fc-scrollgrid-sync-table {
    width: 100%;
}
#calendardiv .fc .fc-toolbar.fc-header-toolbar {
    margin: 1.5em 0;
} 
#calendardiv .fc .fc-toolbar-title {
    font-size: 2em;
}
#calendardiv .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    background-color: #ffea82;
    border-color: transparent;
    color: black;
}
#calendardiv .fc .fc-button-primary, .fc .fc-button-primary:not(:disabled):active {
    background-color: transparent;
    border-color: transparent;
    color: #333;
}
#calendardiv .fc-event-title, .fc-event-time {
    font-size: 17px;
    font-weight: 500 !important;
}
#calendardiv .fc .fc-scrollgrid {
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
}
#calendardiv .fc .fc-col-header-cell {
  vertical-align: middle !important;
  height: 40px;         
  border-right: none !important;
  border-bottom: none;
}
#calendardiv .fc-theme-standard td {
    border: 2px solid #fffae1;
}
#calendardiv .fc-theme-standard th {
    border: none;
    background-color: #fffae1;
}
#calendardiv .fc .fc-daygrid-event-harness {
    cursor: pointer;
}
#timeinput react-datepicker-ignore-onclickoutside {
    margin-left: 30px;
}
.react-datepicker {
    font-family: meetme;
    font-size: 1rem;
    color: #333;
    border: none;
}
.react-datepicker__header {
    background-color: #fffae1;
    border: none;
}
.react-datepicker__time-container {
    width: 125px;
}
.react-datepicker__time-container .react-datepicker__time {
    background-color: #fffae1;
}
.react-datepicker-time__header {
    color: #333;
    font-weight: normal;
    font-size: 1.2rem;
}
.react-datepicker-popper .react-datepicker__triangle {
    stroke: none;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
    fill: #fffae1;
    color: #fffae1;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    scrollbar-color: #ffea82 #fffae1;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
    background-color: transparent;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: transparent;
    color: #ebca2a;
}
