/* @font-face {
    font-family: 'meetme';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */
/* body {
    font-family: meetme;
    color: #333;
} */
/* input {
    font-family: meetme;
    font-size: 20px;
    color: #333;
    border-radius: 5px;
    background-color: transparent; 
    outline: none;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}
input::placeholder {
    color: #333;
} */
    
/* .loginP {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffea82;
    height: 100vh;
} */
/* .loginform {
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
} */
/* .loginlabel {
    font-size: 50px;
    margin-bottom: 30px;
} */
/* .input-error {
    border: #d84343 solid 2px;
} */
/* .input-nonerror {
    border: #333 solid 2px;
} */
/* .errorcontainer {
    min-height: 25px;
} */
/* .errorlabel {
    font-size: 20px;
    color: #d84343;
} */
/* .loginbutton {
    font-family: meetme;
    font-size: 25px;
    color: #333;
    border: none;
    border-radius: 5px;
    background-color: white;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
} */
/* .linkcontainer {
    display: flex;
    justify-content: space-between;
    width: 15%;
} */
/* .linkbutton {
    font-family: meetme;
    font-size: 20px;
    color: #b1a467;
    background-color: transparent;
    border: none;
    cursor: pointer;
} */